@page "/examinations/{id?}"
@model HospitalManagement.Pages.MedicalExamination.ExaminationCardDetailModel
@{
    
}

<div >
    <h2 class="mb-3">Medical Examination Card</h2>
    <div class="border border-1 rounded-2 p-3">
        <div class="mb-3 border-bottom pb-2">
            <span>Date: </span>
            <span>2023-07-17</span>
        </div>
        <div class="row">
            <div class="col-md-6 border-end">
                <div class="mb-3 border-bottom pb-2">
                    <h4>Doctor Information:</h4>
                    <div>
                        <span>Doctor: </span>
                        <span>@Model.Profile.Name</span>
                    </div>
                    <div>
                        <span>Phone: </span>
                        <span>0123456789</span>
                    </div><div>
                        <span>Email: </span>
                        <span>email@gmail.com</span>
                    </div>
                </div>
                <div>
                    <h4>Patient Information:</h4>
                    <div>
                        <span>Full name: </span>
                        <span>Kien Vu</span>
                    </div>
                    <div>
                        <span>Phone: </span>
                        <span>0123456789</span>
                    </div>
                    <div>
                        <span>Email: </span>
                        <span>email@gmail.com</span>
                    </div>
                    <div>
                        <span>Address: </span>
                        <span>Dia chi nha benh nhan</span>
                    </div>
                    <div>
                        <span>Medical history: </span>
                        <p class="ms-3">Tien su benh ghi o day</p>
                    </div>
                    <div>
                        <span>Family history: </span>
                        <p class="ms-3">Tien su gia dinh ghi o day</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 border-start">
                <div class="mb-3 border-bottom pb-2">
                    <h4>Examination:</h4>
                    <div>
                        <span>Symptoms: </span>
                        <span>Trieu chung cua benh nhan</span>
                    </div>
                    <div>
                        <span>Disease: </span>
                        <span>Ten benh</span>
                    </div>
                    <div>
                        <span>Cause: </span>
                        <span>Nguyen nhan gay benh</span>
                    </div>
                    <div>
                        <span>Treatment: </span>
                        <span>Phuong phap dieu tri</span>
                    </div>
                    <div>
                        <span>Prevention: </span>
                        <span>Cach phong chong</span>
                    </div>
                    <div>
                        <span>Complication: </span>
                        <span>Bien chung cua benh</span>
                    </div>
                </div>
                <div>
                    <h4>Prescirption:</h4>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="" class="link-dark">Ten thuoc</a></li>
                        <li class="list-group-item"><a href="" class="link-dark">Ten thuoc</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>